---
import astroI18nextConfig from "../../astro-i18next.config";
const allowedLocales = astroI18nextConfig.locales.join(';');
---
{
    allowedLocales.split(';').map((locale)=>
        <a rel="alternate" hreflang={locale} href={locale} >{locale}</a><br/>
        )
}
<script is:inline>
const lang = navigator.language.split('-')[0];
if (!document.body.innerText.includes(lang))
    window.location.href = '/en';
else
    window.location.href = lang;
</script>