---
const { title, image } = Astro.props;
---

<header>
  <div class="header-bg" style={{backgroundImage: image?"url("+image.src+")":""}}></div>
  <div class="container">
    <slot name="before-title" />
    <h1>{title}</h1>
    <slot />
  </div>
</header>

<style>
  header {
    position: relative;
  }
  .header-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(var(--tertiary-background-color), var(--secondary-background-color)) no-repeat;
    background-size: cover;
    filter: blur(1px);
    transform: skewY(-5deg);
    transform-origin: top left;
    opacity: 0.5;
  }
  .container{
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 64px;
  }
</style>